/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* body & hr */
body {
	margin: auto;
	width: 1000px;
	height: auto;
}

hr {
	width: 1000px;
	margin: 50px 0;
}

/* header */
header { /* How to get the header to go all the way across the screen? */
	position: fixed;
	width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #dedede;
}

header nav {
	padding: 20px 0;
}

header nav a {
	margin: 0 30px;
	color: grey;
	text-decoration: none;
}

header nav a:hover {
	color: #000;
}

header nav a:active {
	color: #fff;
}

header img {
	padding-right: 30px;
}

/* section1 */
.section1 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 100px;
}

.section1 h1 {
	font-size: 5rem;
	text-align: center;
}

.section1 h1 button { /* How to get the button up more? */
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  background: #ffffff;
  padding: 5px 20px 5px 20px;
  border: solid #000000 1px;
  text-decoration: none;
}

.section1 h1 button:hover {
	background: #ebebeb;
  text-decoration: none;
}

/* section2 */
.section2 {
	display: flex;
}

.section2 div { /* How to get text divs on the edges? */
	padding: 0 30px;
}

/* middle-img */
.middle-img {
	width: 100%;
	padding: 50px 0;
}

/* section3 */
.section3 {
	display: flex;
}

.section3 div {
	padding: 0 30px;
}

/* contact-section */
.contact-section { /* temporary fix */
	padding-left: 30px;
}
.contact-section div { /* How to get spacing between text? */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* footer (copyright) */
footer {
	text-align: center;
	padding: 50px 0;
}
